body {
    background-color: #000 !important;
}

#intro {
    padding-top: 200px;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0;
    transform: scale(0.2);
}

.letters-1 {
    color: #fff;
}

.letters-2 {
    color: #E6007E;
}

.letters-3 {
    background: linear-gradient(to right, #E6007E, orange, green, blue);
    background-clip: text;
    /* Standard property */
    -webkit-background-clip: text;
    /* WebKit-prefixed property for compatibility */
    color: transparent;
    /* Use transparent text color for gradient visibility */
}